.example-icon {
  padding: 0 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  font-family: 'Quicksand', sans-serif;

  .mat-toolbar-row {

    span.logo {
      cursor: pointer;
      outline: none;
    }

    a {
      border: 2px solid transparent;

      &.disabled {
        pointer-events: none;
      }

      &.active {
        border: 2px solid #fff;
        cursor: default;
        pointer-events: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
