<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div class="exp-header-wrapper">
      <span class="logo" routerLink="">{{ 'Film Catalog' | translate }}</span>

      <select class="form-control" #selectedLanguage (change)="switchLanguage(selectedLanguage.value)">
        <option *ngFor="let language of translate.getLangs(); let i = index"
                [value]="language"
                [selected]="language === translate.currentLang"
                class="exp-country exp-country-index-{{ i }}">
          {{ countriesName[language] }}
        </option>
      </select>

      <div class="exp-menu-wrapper">
        <a mat-button
           *ngFor="let link of links"
           [routerLink]="link.path"
           [routerLinkActive]="link.active"
           [class.active]="link.id === linkId"
           (click)="chooseLink(link.id)">
          <mat-icon class="example-icon">{{ link.icon }}</mat-icon>{{ link.label | translate }}
        </a>
      </div>

    </div>

    <nav role="navigation" class="navigation">
      <div class="menu-toggle">

        <input #checkboxTemplate type="checkbox" (click)="menuClick()"/>

        <span></span>
        <span></span>
        <span></span>

        <ul class="menu">
          <a mat-button
             *ngFor="let link of links"
             [routerLink]="link.path"
             [routerLinkActive]="link.active"
             [class.active]="link.id === linkId"
             (click)="chooseLink(link.id)">
            <mat-icon class="example-icon">{{ link.icon }}</mat-icon>{{ link.label | translate }}
          </a>
        </ul>
      </div>
    </nav>

  </mat-toolbar-row>
</mat-toolbar>

<div class="exp-backdrop" (click)="backdrop($event)" #backdropTemplate></div>
