.example-icon {
  padding: 0 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  font-family: 'Quicksand', sans-serif;

  .mat-toolbar-row {

    span.logo {
      cursor: pointer;
      outline: none;
    }

    a.disabled {
      pointer-events: none;
    }
  }
}
