.exp-favorite-films-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  margin: 0 auto;

  .exp-film-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
