@import './../../../../../assets/scss/variables/variables';

.exp-modal-wrapper {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
  animation-duration: 0.8s;
  animation-name: exp-modal-appear;

  &.exp-modal-destroy {
    animation-duration: 0.8s;
    animation-name: exp-notification-toast-destroy;
    display: none;
  }

  // action classes
  &.exp-modal-success {
    background-color: #95C124;
  }

  &.exp-modal-warning {
    background-color: darkorange;
  }

  &.exp-modal-error {
    background-color: firebrick;
  }

  &.exp-modal-info {
    background-color: silver;
  }

  .exp-modal-close-button {
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .exp-modal-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .exp-modal-icon {
    width: 25px;
    margin-right: 20px;
  }

  .exp-modal-container {
    display: flex;
    flex-direction: column;

    .exp-modal-title {
      font-size: 14px;
      font-weight: bold;
      color: $dark;
    }

    .exp-modal-text {
      font-size: 13px;
      color: $dark-gray;
    }
  }
}

// Modal appear / disappear animation
@keyframes exp-modal-appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
    z-index: 1001;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exp-modal-destroy {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
