<div class="exp-films-list-wrapper">

  <mat-card class="menu-card">

    <exp-toolbar></exp-toolbar>

  </mat-card>


  <mat-grid-list cols="6" rowHeight="600px" *ngIf="getFilmsList | async as filmsList; else templateLoader">

    <mat-grid-tile colspan="2" *ngFor="let film of filmsList">

      <exp-film-item [film]="film"
                     [genresList]="genresList"
                     (favoriteFilm)="setFavoriteFilm($event)"></exp-film-item>

    </mat-grid-tile>

  </mat-grid-list>

  <ng-template #templateLoader>
    <div class="loader-wrapper">
      <div class="loading">
        <div class="loading-letter">L</div>
        <div class="loading-letter">o</div>
        <div class="loading-letter">a</div>
        <div class="loading-letter">d</div>
        <div class="loading-letter">i</div>
        <div class="loading-letter">n</div>
        <div class="loading-letter">g</div>
        <div class="loading-letter">.</div>
        <div class="loading-letter">.</div>
        <div class="loading-letter">.</div>
      </div>
      <div id="loader"></div>
    </div>
  </ng-template>

</div>
