.exp-films-list-wrapper {
  position: relative;
  margin: 65px 0;

  .menu-card {
    padding: 20px;
  }

  .film-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  button.more {
    position: relative;
    bottom: -45px;
    left: calc(50% - 50px);
  }
}
