<div class="exp-films-list-wrapper">

  <mat-card class="menu-card">

    <exp-toolbar></exp-toolbar>

  </mat-card>


  <mat-grid-list cols="6" rowHeight="600px" *ngIf="getFilmList | async as filmsList">

    <mat-grid-tile colspan="2" *ngFor="let film of filmsList; trackBy: identify">

      <exp-film-item [filmList]="film"
                     [genresList]="getGenresList | async"
                     (favoriteFilm)="setFavoriteFilm($event)"></exp-film-item>

    </mat-grid-tile>

  </mat-grid-list>

  <button *ngIf="getFilmList | async as filmsList"
          mat-raised-button color="accent" mat-button class="more"
          [disabled]="isButtonDisabled"
          (click)="loadMoreFilms()">More films</button>

</div>
