.exp-films-list-wrapper {
  position: relative;

  .menu-card {
    padding: 20px;
  }

  mat-grid-tile {
    margin-bottom: 50px;
  }

  mat-grid-list {
    margin-bottom: 100px;
  }

  button.more {
    position: relative;
    bottom: 80px;
    left: calc(50% - 50px);
  }
}


@media all and (max-width: 900px) and (min-width: 420px) {
  .exp-films-list-wrapper {
    .mat-card {
      .mat-grid-tile {
        width: calc(50% - 50px);  // todo fix this
      }
    }
  }
}

