@import './../../../../assets/scss/variables/variables';
@import './../../../../assets/scss/mixins/mixin-buttons';

.exp-login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 0;
  color: $dark;
  width: calc(100vw - 40px);
  height: calc(100vh - 100px);
  background: linear-gradient(90deg, rgba(99,177,230,1), rgba(103,127,221,1) 100%);
  position: relative;

  .exp-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: $white;
    padding: 20px;

    h2 {
      font-size: 24px;
      font-weight: bold;
    }

    .form-control {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
      }

      input {
        height: 40px;
        font-size: 20px;
        border: 1px solid $dark-gray;
        padding: 2px 15px;
      }
    }

    .exp-buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 100px;
        @include button-success();
      }
    }
  }
}

.exp-greet-wrapper {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 260px);

  h1 {
    color: $white;
    font-size: 24px;
    text-align: center;

    span {
      color: #95C124;
      font-size: 22px;
    }
  }

  .exp-button-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 120px;
      @include button-success();
    }
  }
}


