<mat-card class="example-card">

  <mat-card-header>
    <mat-card-title [title]="film.title">
      {{ film.title.length > 16 ? (film.title | slice:0:16) + '...' : film.title }}
    </mat-card-title>

    <mat-icon class="favorite"
              [class.active]="isFavoriteFilm"
              (click)="toggleFavoriteFilm(film)">favorite_border</mat-icon>

  </mat-card-header>

  <img mat-card-image
       [src]="imagePath" alt="film-item">

  <div class="rating"
       *ngIf="film.vote_average; else templateNoRating"
       [class.perfect]="film.vote_average >= 8"
       [class.high]="film.vote_average >= 7 && film.vote_average < 8"
       [class.good]="film.vote_average >= 6 && film.vote_average < 7"
       [class.normal]="film.vote_average >= 5 && film.vote_average < 6"
       [class.bad]="film.vote_average <= 5">
    {{ film.vote_average }}
  </div>

  <ng-template class="no-rating" #templateNoRating>
    N/A
  </ng-template>

  <mat-card-content>
    <exp-details-inner>
      {{ film.overview }}
    </exp-details-inner>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" mat-button>Open</button>
    <button mat-raised-button color="primary" mat-button>Edit</button>
  </mat-card-actions>

</mat-card>
