@import './../variables/variables';

@mixin button-success {
  color: #fff;
  background-color: $green;
  border: none;
  font-size: 13px;
  padding: 4px 10px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:hover {
    background-color: darken($green, 10%);
    cursor: pointer;
  }
}

@mixin button-cancel {
  @include button-success();
  background-color: #ccc;

  &:hover {
    background-color: darken(#ccc, 10%);
  }
}
