<div class="exp-comments-wrapper">

  <h3 *ngIf="commentsLength">Comments: ({{ commentsLength }})</h3>
  <form class="exp-comments-form"
        [formGroup]="commentsForm">

    <input type="text" formControlName="username" placeholder="Username">
    <textarea name="" formControlName="comment" placeholder="Leave a Comment..."></textarea>

    <div class="exp-comments-buttons-wrapper">
      <button class="button-cancel" mat-raised-button color="danger" mat-button (click)="cancel()">Cancel</button>

      <button class="btn-comment"
              type="button"
              mat-raised-button color="primary" mat-button
              [disabled]="commentsForm.invalid"
              (click)="confirm()">
        Leave comment
      </button>
    </div>

  </form>


  <!-- TODO create getter to get all comments on page init -->
  <div *ngIf="getCommentsList | async as commentsList">
    <div *ngFor="let comment of commentsList | commentsPipe:subjectId" class="exp-comment">

      <div class="exp-comment-avatar">
        <img [src]="avatarPath" alt="avatar">
      </div>

      <div class="exp-comment-name">{{ comment.username }}</div>

      <div class="exp-comment-reply">
        <button class="button-success">Reply</button>
      </div>

      <div class="exp-comment-date">{{ comment.commentId | date:'MMM d, y, h:mm:ss' }}</div>

      <div class="exp-comment-content">
        <p>{{ comment.comment }}</p>
      </div>

      <div class="exp-comment-vote">
        <span class="material-icons icon-up" title="+1">thumb_up</span>
        <span class="material-icons icon-down" title="-1">thumb_down</span>

      </div>

    </div>
  </div>

</div>

