@import './../../../../assets/scss/variables/variables';

.exp-comments-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  height: auto;
  overflow-x: auto;
  margin: 50px auto 100px;

  .exp-comments-form {
    display: flex;
    flex-direction: column;

    input, textarea {
      width: 70%;
      border-radius: 20px;
      background-color: #F5F8F8;
      height: 30px;
      border: none;
      padding: 0 15px;
      color: #002A30;
      font-family: Cairo, sans-serif;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 14px;
      outline: none;
    }

    textarea {
      margin: 20px 0;
      padding: 15px;
      height: 60px;
    }

    .exp-comments-buttons-wrapper {
      display: flex;
      margin-bottom: 20px;

      .button-cancel {
        margin-right: 20px;
      }
    }
  }

  .exp-comment {
    width: 70%;
    border-radius: 20px;
    background-color: #F5F8F8;
    padding: 10px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 100px repeat(3, calc((100% - 180px) / 3)) 80px; // repeat(5, 20%)
    grid-template-rows: repeat(4, 25%);
    position: relative;

    .exp-comment-avatar {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .exp-comment-name {
      grid-column: 2/5;
      grid-row: 1/2;
      font-weight: bold;
    }

    .exp-comment-reply {
      grid-column: 5/6;
      grid-row: 1/2;
    }

    .exp-comment-date {
      grid-column: 2/5;
      grid-row: 1/2;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      font-size: 12px;
      color: #8c8a8a;
    }

    .exp-comment-content {
      grid-column: 2/5;
      grid-row: 2/4;

      p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .exp-comment-vote {
      grid-column: 2/3;
      grid-row: 4/5;
      display: flex;
      align-items: center;

      span {
        cursor: pointer;
        transition: color 0.3s ease-in;

        &:first-child {
          margin-right: 20px;
        }

        &.material-icons {
          font-size: 20px;
        }

        &.icon-up {
          color: $green;

          &:hover {
            color: darken($green, 5%);
          }
        }

        &.icon-down {
          color: $orangered;

          &:hover {
            color: darken($orangered, 5%);
          }
        }
      }
    }

    .exp-reply-to-comment {
      grid-column: 2/6;
      grid-row: 2/5;
      width: calc(100% - 140px);
      height: auto;
      overflow-x: auto;
      margin: 40px auto 10px;

      .exp-single-reply {
        display: flex;
        margin-bottom: 20px;

        .exp-reply-content {
          display: flex;
          flex-direction: column;
          margin-left: 5px;
        }
      }
    }
  }
}


