<h3>Comments: (0)</h3> <!-- {{comments.length}} -->
<form class="exp-comments-form"
      [formGroup]="commentsForm">

  <input type="text" formControlName="username">
  <textarea name="" formControlName="comment"></textarea>

  <div class="exp-comments-buttons-wrapper">
    <button mat-raised-button color="danger" mat-button (click)="cancel()">Cancel</button>

    <button class="btn-comment"
            type="button"
            mat-raised-button color="primary" mat-button
            (click)="confirm()">
      Leave comment
    </button>
  </div>

</form>

<div class="exp-comments" *ngIf="comments">
  {{ comments.username }}
  {{ comments.comment }}
  {{ currentDate | date:'MMM d, y, h:mm:ss' }}
</div>


