@import "../../../../../../assets/scss/mixins/mixin-scroll";

.exp-film-detail-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(to right, rgba(14.12%, 14.51%, 16.86%, 1.00) 150px, rgba(22.35%, 22.35%, 22.35%, 0.84) 100%);

  .poster {
    img {
      width: 100%;
      height: auto;
    }
  }

  .film-info {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;

    .film-info-content {
      width: calc(100% - 20px);
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      padding-left: 20px;

      h2 {
        padding-top: 20px;
        font-size: 40px;
        color: #fff;
        margin-bottom: 0;

        span {
          color: #696969;
          font-size: 16px;
        }
      }

      h3 {
        color: #696969;
        font-size: 14px;
      }

      h4 {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-top: 16px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: #101010;
      }

      .trailer {
        display: flex;
        margin-top: 20px;

        img {
          width: 80px;
          height: auto;
          transition: 0.3s ease-in;

          &:hover {
            cursor: pointer;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    button {
      position: absolute;
      bottom: 20px;
      margin-left: 20px;
    }
  }
}

.film-heroes, .film-similar {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  height: auto;
  overflow-x: auto;
  margin: 50px auto 100px;
  @include scroll();

  h3 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }

  .hero-wrapper, .film-similar-wrapper {
    display: flex;

    .hero, .similar {
      display: flex;
      flex-direction: column-reverse;
      margin: 10px;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

      .hero-info, .similar-info {
        padding: 10px;
        display: flex;
        flex-direction: column;

        span {
          font-size: 13px;
          color: #898989;
          line-height: 24px;

          &.actor-name {
            font-size: 14px;
            font-weight: bold;
            color: #333;
            transition: 0.3s ease-in;

            &:hover {
              color: #4056b5;
              cursor: pointer;
            }
          }
        }
      }

      .poster {
        span {
          display: none;
        }

        img {
          .overview {
            span {
              display: none;
            }
          }

          &:hover {
            .overview {
              span {
                display: flex;
              }
            }
          }
        }

      }

      .overview {
        span {
          font-size: 12px;
          color: #333;
          line-height: 16px;
        }
      }

      img {
        width: 150px;
        height: auto;
        border-radius: 10px 10px 0 0;
        transition: 0.3s ease-in;
        cursor: pointer;

        &:hover {
          background-color: rgba(0,0,0,1);
          opacity: 0.2;
        }
      }
    }
  }

}

span.chips {
  display: flex;
  width: fit-content;
  margin: 20px 10px;
  font-weight: bold;
  background-color: #f50;
  color: #fff;
  padding: 7px 12px;
  align-items: center;
  cursor: default;
  transition: 0.3s ease-in;

  &:hover {
    background-color: darken(#f50, 10%);
  }

}
