<div class="exp-film-detail-wrapper" *ngIf="filmDetail">
  <div class="poster">
    <img [src]="imagePath + filmDetail.poster_path" alt="film-poster">
  </div>

  <div class="film-info" [ngStyle]="{'background-image': 'url(' + backdropPath + filmDetail.backdrop_path + ')'}"></div>

  <div class="film-info-content">
    <h2>
      {{ filmDetail.title }}
      <span>({{ filmDetail.release_date.slice(0,4) }})</span>
    </h2>

    <h3>{{ filmDetail.original_title }}</h3>

    <exp-rating [filmDetail]="filmDetail"></exp-rating>

    <!-- todo get genres, budget, trailer, actors -->
    <!--    <div class="genres">{{ filmDetail.genres.name }}</div>-->
    <!--    <div class="budget">{{ filmDetail.budget }}</div>-->

    <h4>Опис</h4>
    <p>{{ filmDetail.overview.length ? filmDetail.overview : 'Sorry, but this film have no overview yet! Keep calm and watch film trailer.' }}</p>

    Heroes:
    <span *ngFor="let hero of heroesList">{{ hero.character }} - {{ hero.name }}
      <img [src]="imagePath +hero.profile_path" alt="hero">
    </span>


    <button mat-raised-button color="primary" mat-button (click)="back()">Back</button>
  </div>

  <button mat-raised-button color="primary" mat-button (click)="back()">Back</button>

</div>
