<div class="exp-film-detail-wrapper">
  <div class="poster">
    <img [src]="imagePath + filmDetail.poster_path" alt="film-poster">
  </div>

  <div class="film-info">
    <h2>
      {{ filmDetail.title }}
      <span>({{ filmDetail.release_date.slice(0,4) }})</span>
    </h2>

    <h3>{{ filmDetail.original_title }}</h3>

    <!-- todo move 'rating' in separate component -->
    <div class="rating"
         *ngIf="filmDetail.vote_average; else templateNoRating"
         [class.perfect]="filmDetail.vote_average >= 8"
         [class.high]="filmDetail.vote_average >= 7 && filmDetail.vote_average < 8"
         [class.good]="filmDetail.vote_average >= 6 && filmDetail.vote_average < 7"
         [class.normal]="filmDetail.vote_average >= 5 && filmDetail.vote_average < 6"
         [class.bad]="filmDetail.vote_average <= 5">
      {{ filmDetail.vote_average }}
    </div>

<!--    <div class="genres">{{ filmDetail.genres.name }}</div>-->
<!--    <div class="budget">{{ filmDetail.budget }}</div>-->

    <ng-template class="no-rating" #templateNoRating>N/A</ng-template>

    <h4>Опис</h4>
    <p>{{ filmDetail.overview }}</p>

    <button mat-raised-button color="primary" mat-button (click)="back()">Back</button>
  </div>
</div>
