.exp-film-detail-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  background: linear-gradient(to right, rgba(14.12%, 14.51%, 16.86%, 1.00) 150px, rgba(22.35%, 22.35%, 22.35%, 0.84) 100%);

  .poster {
    img {
      width: 100%;
      height: auto;
    }
  }

  .film-info {
    padding-left: 20px;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: blur(5px) grayscale(80%);
  }

  .film-info-content {
    position: absolute;
    top: 15px;
    left: 36%;

    h2 {
      font-size: 32px;
      color: #fff;
      margin-bottom: 0;

      span {
        color: #ccc;
        font-size: 16px;
      }
    }

    h3 {
      color: #ccc;
      font-size: 13px;
    }

    h4 {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin-top: 16px;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      color: #fff;
    }
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 36%;
  }
}
