.exp-favorite-films-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 65px 0;

  .exp-film-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
