<div class="exp-films-list-wrapper">

  <mat-card class="menu-card">

    <exp-toolbar></exp-toolbar>

  </mat-card>


  <div class="film-list-wrapper" *ngIf="getFilmList | async as filmsList">

    <ng-container *ngFor="let film of filmsList | hideFilm; trackBy: identify">

      <exp-film-item [filmList]="film"
                     [genresList]="getGenresList | async"
                     (favoriteFilm)="setFavoriteFilm($event)">
      </exp-film-item>

    </ng-container>

  </div>

    <button *ngIf="getFilmList | async as filmsList"
            mat-raised-button color="accent" mat-button class="more"
            [disabled]="isButtonDisabled"
            (click)="loadMoreFilms()">{{ 'More films' | translate }}
    </button>

</div>
