<!--

  user:  test@i.ua
  pass:  11111111
-->

<ng-container #toastContainer></ng-container>

<div class="login-wrapper">
  <form class="login" [formGroup]="registerForm">

    <section class="title">
      <h3 class="welcome">Welcome to Registration!</h3>
    </section>

    <div class="login-group">

      <label
        for="username"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [ngClass]="{invalid: registerForm.value.username.invalid && (registerForm.value.username.touched && registerForm.value.username.dirty)}">
        Username
      </label>

        <input
          class="username"
          type="text"
          id="username"
          placeholder="Username"
          name="username"
          required
          formControlName="username">

        <span class="tooltip-content">
            Username field can't be empty!
        </span>


      <label
        for="email"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [ngClass]="{invalid: registerForm.value.email.invalid && (registerForm.value.email.touched && registerForm.value.email.dirty)}">
        E-mail
      </label>

        <input
          class="username"
          type="email"
          id="email"
          placeholder="E-mail"
          name="email"
          required
          email
          formControlName="email">

        <span class="tooltip-content">
            Email should be valid
        </span>

      <label
        for="password"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [ngClass]="{invalid: registerForm.value.password.invalid && (registerForm.value.password.touched && registerForm.value.password.dirty)}">
        Password
      </label>

        <input
          class="password"
          type="password"
          id="password"
          placeholder="Password"
          name="password"
          required
          minlength="6"
          formControlName="password">

        <ng-container *ngIf="registerForm.value.password?.invalid">
          <span
            class="tooltip-content"
            *ngIf="registerForm.value.password?.errors['minlength']">
            Необхідна довжина пароля {{ registerForm.value.password?.errors['minlength']['requiredLength'] }},
            введено {{ registerForm.value.password?.errors['minlength']['actualLength'] }}
          </span>
          <span
            class="tooltip-content"
            *ngIf="registerForm.value.password?.errors['required']">
            Password can't be empty!
          </span>
        </ng-container>

      <div class="button-wrapper">
        <button mat-raised-button color="primary" mat-button
          class="btn btn-primary"
          type="submit"
          (click)="registration(registerForm.value.email, registerForm.value.password)"
          >Register</button> <!-- [disabled]="registerForm.invalid" -->

        <button mat-raised-button color="primary" mat-button
          class="btn btn-info"
          type="button"
          (click)="goToLogin()">LogIn</button>
      </div>

    </div>
  </form>
</div>
