.exp-actor-item-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ebebeb;
  width: 235px;
  margin-bottom: 20px;
  transition: 0.3s ease-in;

  &:hover {
    cursor: default;
    box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  }

  .exp-actor-item-photo {
    width: 235px;
    height: 235px;
    overflow: hidden;

    .exp-actor {
      cursor: pointer;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }

    .exp-actor-not-available {
      width: 235px;
      height: 235px;
    }
  }

  .exp-actor-item-info {
    padding: 8px 10px;
    width: 100%;
    height: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h2 {
      font-size: 18px;
      color: #000000;
      font-weight: bold;
      margin-bottom: 0;
      cursor: pointer;
    }

    h4 {
      font-weight: 400;
      color: rgba(0,0,0,0.6);
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}


