<div class="exp-actor-item-card">

  <div class="exp-actor-item-photo">
    <img *ngIf="actor.profile_path" [src]="actorImagePath" alt="film-item" (click)="openActor(actor)" class="exp-actor">

    <img *ngIf="!actor.profile_path" src="../../../../../../assets/images/not-available.jpg"
         alt="not-available"
         class="exp-actor-not-available">
  </div>

  <div class="exp-actor-item-info">
    <h2 (click)="openActor(actor)">{{ actor.name }}</h2>

    <div *ngFor="let known of actor.known_for">
     <h4 *ngIf="known.title">{{ known.title.length > 25 ? (known.title | slice:0:25) + '...' : known.title }}</h4>
    </div>

  </div>

</div>
