<div class="wrapper">

    <h2>Welcome to the movie app</h2><br>

  <mat-tab-group mat-align-tabs="center">

    // TODO make *ngFor for film and actors at one time (not two *ngFor's as now)
    <mat-tab label="Кращі фільми">

      <div class="films-wrapper">

        <div *ngFor="let film of welcomeFilms | slice:0:18; let i = index"
             class="box"
             [ngClass]="['box-' + (i + 1)]">

          <a (click)="openFilm(film)">
            <img [src]="imagePath + film.backdrop_path" alt="{{ film.original_title }}">
            <h3 *ngIf="i < 6">{{ i + 1 }}. {{ film.title }}</h3>
          </a>

        </div>

      </div>

    </mat-tab>

    <mat-tab label="Кращі актори">
      <div class="actors-wrapper">

        <div *ngFor="let actor of welcomeActors | slice:0:18; let i = index"
             class="box"
             [ngClass]="['box-' + (i + 1)]">

          <a (click)="openActor(actor)">
            <img [src]="imagePath + actor.profile_path" alt="{{ actor.name }}">
            <h3 *ngIf="i < 6">{{ i + 1 }}. {{ actor.name }}</h3>
          </a>

        </div>

      </div>
    </mat-tab>

  </mat-tab-group>

</div>
