.wrapper {
    margin: 50px auto 150px;
    width: 90%;

  .films-wrapper, .actors-wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(6, 16.66%);
    background-color: #fff;
    color: #444;
    overflow: hidden;

    .box {
      position: relative;
      background-color: #444;
      color: #fff;
      border-radius: 3px;
      padding: 5px;

      a {

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }

        h3 {
          position: absolute;
          bottom: 20px;
          left: 20px;
          font-weight: bold;
          font-size: 12px;
          margin-bottom: 0;
        }
      }

      &:hover {
        cursor: pointer; // TODO add styling
      }
    }

    .box-1 {
      grid-column: 1 / 5;
      grid-row: 1 / 5;
    }
    .box-2 {
      grid-column: 1/3;
      grid-row: 5 / 7;
    }
    .box-3 {
      grid-column: 3 / 5;
      grid-row: 5 / 7;
    }
    .box-4 {
      grid-column: 7 / 9;
      grid-row: 1 / 3;
    }
    .box-5 {
      grid-column: 5 / 7;
      grid-row: 3 / 5;
    }
    .box-6 {
      grid-column: 7 / 9;
      grid-row: 5 / 7;
    }
    .box-7 {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
    }
    .box-8 {
      grid-column: 6 / 7;
      grid-row: 1 / 2;
    }
    .box-9 {
      grid-column: 5 / 6;
      grid-row: 2 / 3;
    }
    .box-10 {
      grid-column: 6 / 7;
      grid-row: 2 / 3;
    }
    .box-11 {
      grid-column: 7 / 8;
      grid-row: 3 / 4;
    }
    .box-12 {
      grid-column: 8 / 9;
      grid-row: 3 / 4;
    }
    .box-13 {
      grid-column: 7 / 8;
      grid-row: 4 / 5;
    }
    .box-14 {
      grid-column: 8 / 9;
      grid-row: 4 / 5;
    }
    .box-15 {
      grid-column: 5 / 6;
      grid-row: 5 / 6;
    }
    .box-16 {
      grid-column: 6 / 7;
      grid-row: 5 / 6;
    }
    .box-17 {
      grid-column: 5 / 6;
      grid-row: 6 / 7;
    }
    .box-18 {
      grid-column: 6 / 7;
      grid-row: 6 / 7;
    }
  }
}
