<mat-toolbar class="menu-toolbar">
  <mat-toolbar-row>

    <span *ngIf="getFavoriteFilmsCount | async as favoriteFilmsCounter; else defaultTemplate">
      В обране додано {{ favoriteFilmsCounter }} елементів
    </span>

    <ng-template #defaultTemplate>
      <span>В обране додано 0 елементів</span>
    </ng-template>

    <span class="menu-spacing"></span>

    <div class="search">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input #searchRef matInput placeholder="Search..." class="search-input"
               (input)="searchFilmByTitle()">
        <mat-icon class="search-icon">search</mat-icon>
      </mat-form-field>

      <div class="no-results" *ngIf="filmsList && !filmsList.length">
        <span>No results...</span>
      </div>

    </div>

    <span class="menu-spacing"></span>

    <div>
      <mat-form-field>
        <mat-select #templateSelect
                    placeholder="Сортувати за"
                    [(value)]="sortingMethod"
                    (selectionChange)="transform(templateSelect.value)">
          <mat-option value="0">назвою: A-Я</mat-option>
          <mat-option value="1">назвою: Я-A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
