<mat-toolbar class="menu-toolbar">
  <mat-toolbar-row>

    <span *ngIf="getFavoriteFilmsCount | async as favoriteFilmsCounter">
      В обране додано {{ favoriteFilmsCounter }} елементів
    </span>

    <span class="menu-spacing"></span>

    <div class="search">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input #searchRef matInput placeholder="Search..." class="search-input"
               (input)="searchFilmByTitle()">
        <mat-icon class="search-icon">search</mat-icon>
      </mat-form-field>
    </div>


    <form class="example-form" [formGroup]='searchForm'>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Choose a Film" [matAutocomplete]="auto" formControlName='searchInput'>
      </mat-form-field>


      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">

        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-progress-spinner diameter="50"></mat-progress-spinner>
        </mat-option>

        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let film of filteredFilms" [value]="film">
            <span>{{ film.title }}</span>
            <small> | ID: {{ film.id }}</small>
          </mat-option>
        </ng-container>

      </mat-autocomplete>

    </form>


    <span class="menu-spacing"></span>

    <div>
      <mat-form-field>
        <mat-select #templateSelect
                    placeholder="Сортувати за"
                    [(value)]="sortingMethod"
                    (selectionChange)="transform(templateSelect.value)">
          <mat-option value="0">назвою: A-Я</mat-option>
          <mat-option value="1">назвою: Я-A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
