.menu-card {
  padding: 20px;

  .mat-toolbar {
    font-size: 14px;

    .mat-toolbar-row {
      display: flex;
      justify-content: space-between;
    }

  }
}

mat-grid-tile {
  margin-bottom: 50px;
}

mat-grid-list {
  margin-bottom: 100px;
}
