.mat-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 1000;

  .mat-toolbar-row {
    justify-content: space-between;

    .mat-slide-toggle {
      font-size: 12px;
    }
  }

  span {
    font-size: 12px;
  }
}

