<div class="exp-notification-toast {{ notification.notificationType }}">

  <img class="exp-notification-toast-icon" *ngIf="notification.icon"
    [src]="notification.icon.src"
    [alt]="notification.icon.alt"/>


  <div class="exp-notification-toast-container">

    <div class="exp-notification-toast-title" *ngIf="notification.title">
      {{ notification.title }}
    </div>

    <div class="exp-notification-toast-text" *ngIf="notification.text">
      {{ notification.text }}
    </div>

  </div>



  <div class="exp-notification-toast-close-button-wrapper" (click)="close()">
    <img class="exp-notification-toast-close-button" src="./../../../../assets/images/close.svg"
         alt="close">
  </div>

</div>
