.exp-actor-detail {
  margin: 70px 50px 20px;

  .exp-actor-detail-wrapper {
    display: flex;

    .exp-actor-short-info {
      flex: 0 0 25%;

      .actor-poster {
        img {
          border-radius: 5px;
        }
      }

      p {
        strong {
          display: block;
        }
      }
    }

    .exp-actor-full-info {
      flex: 0 0 75%;
      padding-left: 10px;
    }
  }
}
