/* You can add global styles to this file, and also import other style files */

@import './assets/scss/themes/material-theme';
@import './assets/scss/mixins/mixin-card';
@import './assets/scss/mixins/mixin-buttons';

html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.mat-typography {
  font: 400 14px/20px 'Lato', sans-serif;
}

.mat-card {
  font-family: 'Lato', sans-serif;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.example-card {
  @include card();
}

.button-success {
  @include button-success();
}
