<div class="exp-actor-detail">

  actor: {{ actorDetail | json }}
  <div *ngIf="actorDetail" class="exp-actor-detail-wrapper">

    <div class="exp-actor-short-info">

      <div *ngIf="actorDetail.profile_path" class="actor-poster; else noPoster">
        <img [src]="imagePath + actorDetail.profile_path" alt="actor-poster">
      </div>

      <ng-template #noPoster>
        <img src="../../../../../../assets/images/not-available.jpg" alt="no-poster">
      </ng-template>

    </div>

    <div class="exp-actor-full-info">

    </div>



  </div>
</div>
